body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

#listeEleves .header {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
}

#listeEleves .eleve-container {
    display: flex;
    justify-content: flex-start;
}

#listeEleves .prenom,
#listeEleves .nom,
#listeEleves .cours {
    margin-right: 5px;
    flex: 1;
    /* Ajusté pour équilibrer l'espace */
    padding: 0.25em;
}

#listeEleves .prenom {
    text-align: left;
}

#listeEleves .nom {
    text-align: left;
}

#listeEleves .cours {
    text-align: left;
    flex-grow: 2;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.timetable {
    display: grid;
    gap: 1px;
    background-color: #ccc;
    border: 1px solid #ccc;
}

.timetable-cell-occupied {
    background-color: #ff0;
}