body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

#listeEleves .header, #listeCours .header-cours {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
}

#listeEleves .eleve-container, #listeCours .cours-row {
    display: flex;
    justify-content: flex-start;
}

#listeEleves .prenom, #listeEleves .nom, #listeCours .jour, #listeCours .heure-debut, #listeCours .heure-fin, #listeCours .matiere, #listeCours .salle {
    margin-right: 5px;
    flex: 1;
    padding: 0.25em;
}

#listeCours .matiere, #listeCours .salle {
    flex-grow: 2; /* Permet aux colonnes de la matière et de la salle de prendre plus d'espace */
}

#listeEleves .prenom, #listeEleves .nom, #listeCours .jour, #listeCours .heure-debut, #listeCours .heure-fin, #listeCours .matiere, #listeCours .salle {
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

td {
    background-color: #fff;
}

tr:nth-child(even) td {
    background-color: #f9f9f9;
}

.timetable-cell-occupied {
    background-color: #d7ebff; /* Une couleur douce pour les cellules avec des cours */
}

.timetable-cell-empty {
    background-color: #f9f9f9; /* Une couleur différente pour les cellules vides */
}

.table-hours,
.table-days {
    background-color: #eef;
    font-weight: bold;
}

/* Amélioration de la visibilité des frontières */
table, th, td {
    border: 1px solid #ccc;
}

/* Pour améliorer la distinction des en-têtes */
thead th {
    background-color: #666;
    color: white;
}
